<!DOCTYPE html>

<title>Your Tax Simplified</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

<!-- <style>
  .bg {
    backgroun:cyan;
  }
</style> -->

{% load static %}
{% load humanize %}

<body>
  </br>

  <div class="container-fluid">

    <!-- Button Row -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <center>
          <form action="{% url 'home'%}">
            <input type="submit" value="Go Back" class="btn btn-warning">
          </form>
        </center>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <!-- Heading Row -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <center>
          <H3 style="color:Gray">Estimated Taxes & Withholding</H3>
        </center>
      </div>
      <div class="col-lg-4"></div>
    </div>
    </br>

    <!-- Summary Row -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-1">
        <div class="alert alert-warning">
          <center>
            <strong>
              <p>Income</p>
            </strong>
            <p>${{ income|floatformat:2|intcomma }} </p>
          </center>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="alert alert-warning">
          <center>
            <strong>
              <p>Total Tax</p>
            </strong>
            <p>${{ totalTaxAmount|floatformat:2|intcomma }}</p>
          </center>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="alert alert-warning">
          <center>
            <strong><p>Effective Rate</p></strong>
              <p>{{ effectiveRate|floatformat:2|intcomma }} %</p>
          </center>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="alert alert-warning">
          <center>
            <strong>
              <p>Withholding </p>
            </strong>
            <p>${{ withholdAmount|floatformat:2|intcomma }}</p>
          </center>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>

    </br>


    <!-- Federal + State Row-->

    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <div class="alert alert-success">
          <center>
            <strong><p>Federal</p></strong>
            <p>Standard Deduction: ${{ fedStandardDeduction|floatformat:2|intcomma }} </p>
            <p>Tax Obligation: ${{ fedTaxAmount|floatformat:2|intcomma }} </p>
            <p>Effective Rate: {{ fedEffectiveRate|floatformat:2|intcomma }} %</p>
            <p>Monthly Withholding: ${{ fedWithholdAmount|floatformat:2|intcomma }} </p>
            <br>
          </center>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="alert alert-success">
          <center>
            <strong><p>State</p></strong>
            <p>Standard Deduction: ${{ stateStandardDeduction|floatformat:2|intcomma }} </p>
            <p>Tax Obligation: ${{ stateTaxAmount|floatformat:2|intcomma }} </p>
            <p>Effective Rate: {{ stateEffectiveRate|floatformat:2|intcomma }} %</p>
            <p>Monthly Withholding: ${{ stateWithholdAmount|floatformat:2|intcomma }} </p>
            <br>
          </center>
        </div>
      </div>

      <div class="col-lg-4"></div>
    </div>

    </br>

    <!-- Federal + State Tax Brackets Row -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <div class="alert alert-info">
          <center>
            <strong>
              <p>Federal Tax Brackets</p>
              </br>
            </strong>
          </center>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Range Max</th>
                <th scope="col">Rate</th>
              </tr>
            </thead>
            <tbody>
              {% for arow in fedTaxBracket %}
              <tr>
                {% if arow.rangeMax == 0 %}
                <td>{{ "" }}</td>
                    {% else %}
                <td>${{ arow.rangeMax|floatformat:2|intcomma }}</td>
                    {% endif %}
                <td>{{ arow.rangeRate|floatformat:2|intcomma }} %</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <br>
      </div>


      <!-- State Tax Brackets Row -->
      <div class="col-lg-2">
        <div class="alert alert-info">
          <center>
            <strong>
              <p>State Tax Brackets</p>
              </br>
            </strong>
          </center>

          {% if not stateTaxBracket %}
            <td> <center> {{ "No State Tax" }}</td> </center>
          {% else %}
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Range Max</th>
                  <th scope="col">Rate</th>
                </tr>
              </thead>
              <tbody>
                  {% for arow in stateTaxBracket %}
                  <tr>
                    {% if arow.rangeMax == 0 %}
                    <td>{{ "" }}</td>
                      {% else %}
                    <td> ${{ arow.rangeMax|floatformat:2|intcomma }}</td>
                      {% endif %}
                    <td>{{ arow.rangeRate }} %</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>

    <!-- Button Row -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <center>
          <form action="{% url 'home'%}">
            <input type="submit" value="Go Back" class="btn btn-warning">
          </form>
        </center>
      </div>
      <div class="col-lg-4"></div>
    </div>

  </div>
</body>
